

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/Demo/AfterCreate" method="post">

        <center>
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="Name" value="" />
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <input type="text" name="Address" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn bg-danger" name="btn" value=" Create " />
                    </td>
                </tr>
            </table>
        </center>

    </form>
</body>
</html>
