
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    ID:@Model.Id<br />
    Name:@Model.Name
    <br />
    <input type="submit" name="btn" value="Update" />
    <div>
    </div>
</body>
</html>
